In [97]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [98]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1523,tt0462200,15000000,10903846,Black Snake Moan,Samuel L. Jackson|Christina Ricci|Justin Timbe...,Craig Brewer,To save his soul he must save hers.,A God-fearing bluesman takes to a wild young w...,116,Drama,Paramount Classics,12/8/2006,6.3,2006
146,tt1528100,140000000,268031828,Exodus: Gods and Kings,Christian Bale|Joel Edgerton|John Turturro|Aar...,Ridley Scott,"Once brothers, now enemies.",The defiant leader Moses rises up against the ...,153,Adventure|Drama|Action,Scott Free Productions|Chernin Entertainment|B...,12/3/2014,5.6,2014
1415,tt0388980,25000000,15431177,The Greatest Game Ever Played,Shia LaBeouf|Stephen Dillane|Josh Flitter|Pete...,Bill Paxton,Based on a True Story,A biopic of 20-year-old Francis Ouimet who def...,120,Drama|Family,Walt Disney Pictures,9/30/2005,7.0,2005
615,tt0373051,45000000,101702060,Journey to the Center of the Earth,Brendan Fraser|Josh Hutcherson|Anita Briem|Set...,Eric Brevig,Same Planet. Different World.,On a quest to find out what happened to his mi...,93,Action|Science Fiction|Adventure|Comedy|Family,New Line Cinema|Walden Media,7/10/2008,5.7,2008
82,tt1674771,30000000,49263404,Entourage,Jeremy Piven|Adrian Grenier|Jerry Ferrara|Kevi...,Doug Ellin,Dream Large. Live Larger.,"Movie star Vincent Chase, together with his bo...",104,Comedy,Warner Bros.|Closest to the Hole Productions,6/3/2015,6.2,2015

In [99]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [100]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:

#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...
data['profit']=data.revenue-data.budget

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [101]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = 'Pirates of the Caribbean: On Stranger Tides'
# если ответили верно, можете добавить комментарий со значком "+"

In [102]:
data[data.budget==data.budget.max()].original_title

723    Pirates of the Caribbean: On Stranger Tides
Name: original_title, dtype: object

ВАРИАНТ 2

In [103]:
# можно добавлять разные варианты решения

# 2. Какой из фильмов самый длительный (в минутах)?

In [104]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = 'Gods and Generals'

In [105]:
data[data.runtime==data.runtime.max()].original_title

1157    Gods and Generals
Name: original_title, dtype: object

# 3. Какой из фильмов самый короткий (в минутах)?

In [106]:
data[data.runtime==data.runtime.min()].original_title

768    Winnie the Pooh
Name: original_title, dtype: object

In [107]:
answers['3'] = 'Winnie the Pooh'

# 4. Какова средняя длительность фильмов?

In [108]:
data.runtime.mean()

109.6585494970884

In [109]:
answers['4'] = data.runtime.mean()

# 5. Каково медианное значение длительности фильмов?

In [110]:
data.runtime.median()

107.0

In [111]:
answers['5'] = data.runtime.median()

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [112]:
data[data.profit==data.profit.max()].original_title

239    Avatar
Name: original_title, dtype: object

In [113]:
answers['6'] = 'Avatar'

# 7. Какой фильм самый убыточный?

In [114]:
data[data.profit==data.profit.min()].original_title

1245    The Lone Ranger
Name: original_title, dtype: object

In [115]:
answers['7'] = 'The Lone Ranger'

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [116]:
data.query('profit>0').original_title.count()

1478

In [117]:
answers['8'] = data.query('profit>0').original_title.count()

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [118]:
data_08=data.query('release_year==2008')
data_08[data_08.revenue==data_08.revenue.max()].original_title

599    The Dark Knight
Name: original_title, dtype: object

In [119]:
answers['9'] = 'The Dark Knight'

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [120]:
data_12_14=data.query('2012<=release_year<=2014')
data_12_14[data_12_14.profit==data_12_14.profit.min()].original_title

1245    The Lone Ranger
Name: original_title, dtype: object

In [121]:
answers['10'] = 'The Lone Ranger'

# 11. Какого жанра фильмов больше всего?

In [122]:
df=data.genres.str.split('|')
f=[]
for i in df:
    f=f+i
genre_list=Counter(f)
genre_count=pd.DataFrame([genre_list]).T
genre_count.columns=['quantity']
genre_count.quantity.sort_values(ascending=False).index[0]

'Drama'

ВАРИАНТ 2

In [123]:
data2 = data.copy()
data2.genres=data2.genres.str.split('|')
data2=data2.explode('genres')
df_genre = data2.genres.value_counts().index[0]
df_genre

'Drama'

In [124]:
answers['11'] = df_genre

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [125]:
data2=data.copy()
data2=data2.query('profit>0').genres.str.split('|')
f=[]
for i in data2:
    f=f+i
genre_list=Counter(f)
genre_count=pd.DataFrame([genre_list]).T
genre_count.columns=['quantity']
genre_count.quantity.sort_values(ascending=False).index[0]

'Drama'

In [126]:
answers['12'] = genre_count.quantity.sort_values(ascending=False).index[0]

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [127]:
data2=data.copy()
data2.director=data2.director.str.split('|')
data2=data2.explode('director')
grouped=data2.groupby(['director'])['revenue'].sum()
grouped.sort_values(ascending=False).index[0]

'Peter Jackson'

In [128]:
answers['13'] = grouped.sort_values(ascending=False).index[0]

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [129]:
data2=data.copy()
data2=data2[data2.genres.str.contains('Action',na=False)]
data2.director=data2.director.str.split('|')
data2=data2.explode('director')
data2.director.value_counts(ascending=False).index[0]

'Robert Rodriguez'

In [130]:
answers['14'] = data2.director.value_counts(ascending=False).index[0]

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [131]:
data2=data.copy()
data_12=data2.query('release_year==2012')
data_12.cast=data_12.cast.str.split('|')
data_12=data_12.explode('cast')
grouped=data_12.groupby(['cast'])['revenue'].sum()
grouped.sort_values(ascending=False).index[0]

C:\Users\Lenovo\Anaconda3\lib\site-packages\pandas\core\generic.py:5491: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

'Chris Hemsworth'

In [132]:
answers['15'] = grouped.sort_values(ascending=False).index[0]

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [133]:
data2=data.copy()
data2=data2[data2.budget>data2.budget.mean()]
data2.cast=data2.cast.str.split('|')
data2.explode('cast').cast.value_counts(ascending=False).index[0]

'Matt Damon'

In [134]:
answers['16'] = data2.explode('cast').cast.value_counts(ascending=False).index[0]

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [135]:
data2=data.copy()
data2=data2[data2.cast.str.contains('Nicolas Cage',na=False)]
data2.genres=data2.genres.str.split('|')
data2.explode('genres').genres.value_counts(ascending=False).index[0]

'Action'

In [136]:
answers['17'] = data2.explode('genres').genres.value_counts(ascending=False).index[0]

# 18. Самый убыточный фильм от Paramount Pictures

In [137]:
data2=data.copy()
data2=data2[data2.production_companies.str.contains('Paramount Pictures')]
data2[data2.profit==data2.profit.min()].original_title.min()

'K-19: The Widowmaker'

In [138]:
answers['18'] = data2[data2.profit==data2.profit.min()].original_title.min()

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [139]:
data2=data.copy()
data2.groupby(['release_year'])['revenue'].sum().sort_values(ascending=False).index[0]

2015

In [140]:
answers['19'] = data2.groupby(['release_year'])['revenue'].sum().sort_values(ascending=False).index[0]

# 20. Какой самый прибыльный год для студии Warner Bros?

In [141]:
data2=data.copy()
data2=data2[data2.production_companies.str.contains('Warner Bros')]
data2.groupby(['release_year'])['profit'].sum().sort_values(ascending=False).index[0]

2014

In [142]:
answers['20'] = data2.groupby(['release_year'])['profit'].sum().sort_values(ascending=False).index[0]

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [143]:
month = pd.Series(["Январь", "Февраль", "Март", "Апрель","Май", "Июнь", "Июль", "Август","Сентябрь", "Октябрь", "Ноябрь", "Декабрь"],
                 index = ['1', "2", "3", "4","5", "6", "7", "8","9","10","11","12"])
data2=data.copy()
data2.release_date=data2.release_date.str.split('/')
data2.release_date=data2.release_date.apply(lambda x:month.loc[str(x[0])])
data2.release_date.value_counts(ascending=False).index[0]

'Сентябрь'

In [144]:
answers['21'] = data2.release_date.value_counts(ascending=False).index[0]

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [145]:
data2=data.copy()
data2.release_date=data2.release_date.str.split('/')
data2.release_date=data2.release_date.apply(lambda x:int(x[0]))
data2.query('9>release_date>5').original_title.count()

450

In [146]:
answers['22'] = data2.query('9>release_date>5').original_title.count()

# 23. Для какого режиссера зима – самое продуктивное время года?

In [147]:
data2=data.copy()
data2.release_date=data2.release_date.str.split('/')
data2.release_date=data2.release_date.apply(lambda x:int(x[0]))
data2=data2.query('release_date in [12,1,2]')
data2.director=data2.director.str.split('|')
data2.explode('director').director.value_counts(ascending=False).index[0]

'Peter Jackson'

In [148]:
answers['23'] = data2.explode('director').director.value_counts(ascending=False).index[0]

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [149]:
data2=data.copy()
data2.production_companies=data2.production_companies.str.split('|')
data2=data2.explode('production_companies')
data2.original_title=data2.original_title.apply(lambda x:len(x))
data2.groupby(['production_companies'])['original_title'].mean().sort_values(ascending=False).index[0]

'Four By Two Productions'

In [150]:
answers['24'] = data2.groupby(['production_companies'])['original_title'].sum().sort_values(ascending=False).index[0]

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [151]:
data2=data.copy()
data2.production_companies=data2.production_companies.str.split('|')
data2=data2.explode('production_companies')
data2.overview=data2.overview.apply(lambda x:len(x))
data2.groupby(['production_companies'])['overview'].mean().sort_values(ascending=False).index[0]

'Midnight Picture Show'

In [152]:
answers['25'] = data2.groupby(['production_companies'])['overview'].sum().sort_values(ascending=False).index[0]

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [153]:
data2=data.copy()
data_top=data2[data2.vote_average>data2.vote_average.quantile(q=0.99)].original_title
list(data_top)

['Inside Out',
 'Room',
 'Interstellar',
 'Guardians of the Galaxy',
 'The Imitation Game',
 'Gone Girl',
 'The Grand Budapest Hotel',
 'Inception',
 'The Dark Knight',
 'The Pianist',
 'The Lord of the Rings: The Return of the King',
 'The Wolf of Wall Street',
 '12 Years a Slave',
 'Memento']

In [154]:
answers['26'] = list(data_top)

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [155]:
import itertools as it

data2 = data.copy()
data2['cast'] = data2.cast.str.split('|').apply(lambda x: list(it.combinations(x, 2)))
data2.explode('cast').cast.value_counts().index[0]

('Daniel Radcliffe', 'Rupert Grint')

In [156]:
answers['27'] = data2.explode('cast').cast.value_counts().index[0]

ВАРИАНТ 2

# Submission

In [157]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': 'Pirates of the Caribbean: On Stranger Tides',
 '2': 'Gods and Generals',
 '3': 'Winnie the Pooh',
 '4': 109.6585494970884,
 '5': 107.0,
 '6': 'Avatar',
 '7': 'The Lone Ranger',
 '8': 1478,
 '9': 'The Dark Knight',
 '10': 'The Lone Ranger',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'K-19: The Widowmaker',
 '19': 2015,
 '20': 2014,
 '21': 'Сентябрь',
 '22': 450,
 '23': 'Peter Jackson',
 '24': 'Warner Bros.',
 '25': 'Universal Pictures',
 '26': ['Inside Out',
  'Room',
  'Interstellar',
  'Guardians of the Galaxy',
  'The Imitation Game',
  'Gone Girl',
  'The Grand Budapest Hotel',
  'Inception',
  'The Dark Knight',
  'The Pianist',
  'The Lord of the Rings: The Return of the King',
  'The Wolf of Wall Street',
  '12 Years a Slave',
  'Memento'],
 '27': ('Daniel Radcliffe', 'Rupert Grint')}

In [158]:
# и убедиться что ни чего не пропустил)
len(answers)

27